<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <th:block th:fragment="footer">
        <!-- Footer -->
        <footer class="page-footer font-small bg-light">

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">© 2020 Copyright:
                <a href="https://hbooker.com/"> Hbooker.com</a>
            </div>
            <!-- Copyright -->

        </footer>
        <!-- Footer -->
    </th:block>
</body>
</html>