<!DOCTYPE html>
<html lang="en"
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <th:block th:fragment="pager">
        <div class="row">
            <div class="col-sm-12">
                <nav aria-label="pager-nav">
                    <ul class="pagination justify-content-center">
                        <li th:if="${page.hasPrevious()}" class="page-item"><a class="page-link" th:href="@{${pageurl}(page=${page.number-1},size=${page.size})}">Previous</a></li>
                        <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
                            <li class="page-item" th:if="${page.number == i}"> <a class="page-link" href="#">[[${i}+1]]</a></li>
                            <li class="page-item" th:unless="${page.number == i}"><a class="page-link" th:href="@{${pageurl}(page=${i},size=${page.size})}">[[${i}+1]]</a></li>
                        </th:block>
                        <li th:if="${page.hasNext()}" class="page-item"><a class="page-link" th:href="@{${pageurl}(page=${page.number+1},size=${page.size})}">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </th:block>
</body>
</html>