<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/bootstrap.html:: headmenu}">
    <title>Apartment Edit</title>
</head>
    <body>
        <div class="container">
            <div th:insert="~{fragments/navbar.html:: navbar}"></div>
            <div class="row">
                <div class="col-sm-4">
                    <h3>Apartment Edit</h3>
                </div>
            </div>
            <div class="alert alert-danger" th:if="${message!=null}">
                <label th:if="${message != null}"  th:text="${message}"></label>
            </div>
            <div class="panel panel-default">
                <form th:action="@{'/apartment/apartmentedit'}" method="post">
                    <div class="form-group row">
                        <div class="col-sm-2"><label>Apartment Number:</label></div>
                        <div class="col-sm-4">
                            <input type="text" name="aprtname" th:value="${apartment.aprtname}" class="form-control" placeholder="Apartment Name"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-2"><label>Apartment Descr:</label></div>
                        <div class="col-sm-4">
                            <input type="text" name="aptDescription" class="form-control" th:value="${apartment.aptDescription}" placeholder="Apartment Description"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-2"><label>Hotel:</label></div>
                        <div class="col-sm-4">
                            <select class="custom-select" name = "hotelid">
                                <option th:each="hotel : ${hotels}"
                                        th:value ="${hotel.id}" th:selected="(${hotel.id} == ${apartment.hotel.id})"
                                        th:text  ="${hotel.hotelname}">Hotel</option>
                            </select>
                        </div>
                    </div>
                    <input type="hidden" th:value="${apartment.id}" name="aprtId">
                    <button class="btn btn-primary" type="Submit">Save</button>
                    <a class="btn btn-primary" role="button" href="/apartment/apartmentsList">Back</a>
                </form>
            </div>
            <div th:insert="~{fragments/footer.html:: footer}"></div>
        </div>
    </body>
</html>