<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/bootstrap.html:: headmenu}">
    <title>HotelCats Edit</title>
</head>
    <body>
        <div class = "container">
            <div th:insert="~{fragments/navbar.html:: navbar}"></div>
            <div class="row">
                <div class="col-sm-4">
                    <h3>Hotel Cat Edit</h3>
                </div>
            </div>
            <div class="alert alert-danger" th:if="${message!=null}">
                <label th:if="${message != null}"  th:text="${message}"></label>
            </div>
            <div class="panel panel-default">
                <form th:action="@{'/hotcat/hotcatedit'}" method="post">
                    <div class="form-group row">
                        <div class="col-sm-2"><label>HotelCat Name:</label></div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" placeholder="HotCat Name" name="catname" th:value="${hotcat.catname}">
                        </div>
                    </div>
                    <input type="hidden" th:value="${hotcat.id}" name="hotelcatId">
                    <button class="btn btn-primary" type="Submit">Save</button>
                    <a class="btn btn-primary" role="button" href="/hotcat/hotcatsList">Back</a>
                </form>
            </div>
            <div th:insert="~{fragments/footer.html:: footer}"></div>
        </div>
    </body>
</html>